<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a mat-button routerLink="/" routerLinkActive="mat-accent">My Blog</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <span class="spacer"></span>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a mat-button routerLink="/" routerLinkActive="mat-accent">Posts</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/post-create" routerLinkActive="mat-accent">Create Post</a>
      </li>
      <span class="spacer"></span>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
