:host {
  display: block;
  margin-top: 1rem;
}

.text-info{
  text-align: center;
}

mat-icon{
  margin-left: 20px;
  margin-right: 20px;
}

mat-spinner{
  margin: auto;
  width: 14px;
  height: 14px;
}

mat-paginator {
  margin: 1rem;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
